<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sap">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="SAP"
        android:roundIcon="@drawable/ic_touch_id"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ResetPasswordActivity"></activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ConfirmSignup" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>