<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="SAP"
        android:roundIcon="@drawable/ic_touch_id"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ViewCompletedSprintActivity"></activity>
        <activity android:name=".EditFutureActivity" />
        <activity android:name=".EditActiveSprintActivity" />
        <activity android:name=".activities.CreateSprintActivity" />
        <activity android:name=".activities.BacklogEditTaskActivity" />
        <activity android:name=".activities.SprintEditTaskActivity" />
        <activity android:name=".activities.CreateTaskActivity" />
        <activity android:name=".activities.AccountActivity" />
        <activity android:name=".activities.ProjectContainerActivity" />
        <activity android:name=".activities.CreateProjectActivity" />
        <activity android:name=".activities.ProjectListActivity" />
        <activity android:name=".activities.SprintContainerActivity" />
        <activity android:name=".activities.ResetPasswordActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.ConfirmSignupActivity" />
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>